body {
  /* font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; */
  font-family: "Orbitron", cursive;
  background-color: #002147;
  color: #FFB915;
}


#main-title {
  text-align: center;
}

.nav { display:flex; gap:1rem; margin-bottom:1.25rem; }
.nav a[aria-current="page"] { text-decoration: underline;}

.nav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 1rem;
  font-size: 25px;
  justify-content: flex-start;
}


.nav a:hover{
  font-size: 33px;
  transition: 0.5s;
  /* background-color: #1bdd35; */

  /* text-shadow: -3px -3px 0 #1bdd35, 3px -3px 0 #1bdd35, -3px 3px 0 #1bdd35, 3px 3px 0 #1bdd35; */
}

.nav a{
  color: #FFB915;
  letter-spacing: 1px;
  transition: 0.5s;
  text-decoration: none;
  margin: 0px 5px;
}
/* 
@media (prefers-color-scheme: dark) { 
  .nav a{
    color: white;
  }
} */

.card {
  background-color: #002a47;
  padding: 1rem; border-radius: 12px;
  box-shadow: 0 2px 8px #214457;
}

.button {
  /* background-color: #0b083a;  */
  background-color: #002147;
  border: none;
  border-radius: 30%;
  color: #FFB915;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
