.container2 {
text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  overflow-x: auto;
}

.container-row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.container-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  transition: 0.3s ease;
}

/* .table-cell {
  
} */

.card {
  background-color: #002a47;
  width: 70%;
  margin: 0% auto;
}

